<div class="app-content">
    <div class="app-header">
        <div class="app-header-content">
            <div class="gugi-regular app-logo" (click)="navigateHome()">&lt;DF /&gt;</div>
        </div>
        <div class="app-menu"> 
            <div class="menu-item">Work</div>
            <div class="menu-item">Projects</div>
            <div class="menu-item">About</div>
        </div>
    </div>
    <div class="app-content-pages">
        <app-experience />
        <app-about />
    </div>
    <div class="flex1"></div>
</div>
