.app-content {
    background-color: #1a1a1a;

    .app-header {
        pointer-events: none;
        position: fixed;
        flex: 1;
        color: #9DC0BC;
        z-index: 2;
        width: 100%;
        
        .app-header-content {
            flex: 1;
            color: #fafafa;
            background-color: #9DC0BC;
            padding: 4px 12px;
        }
        
        .app-menu-container {
            display: flex;
            padding: 4px 12px;
        }
    }
    
    .app-logo {
        font-size: 24pt;
        cursor: pointer;
        pointer-events: initial;
    }
    
    .app-menu {
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        font-size: 20pt;
        justify-content: center;
        align-items: center;

        .menu-item {
            padding: 6px 0px;
            cursor: pointer;
            pointer-events: initial;
        }
    
        .menu-item.default-text {
            color: #fafafa;

            &:hover {
                color: rgb(183, 187, 186);
            }
        }

        .menu-item.scrolled-text {
            color: #9DC0BC;
        }
    
    
        .menu-item.selected {
            text-decoration: underline;
        }

        .rectangle {
            width: 3px; /* Adjust width to your preference */
            height: 100px; /* Set the height for the rectangle */
            background-color: #fafafa; /* Default background color */
        }
    }
    
    .app-icon {
        height: 28px;
    }
    
    .app-content-pages {
        color: #dadada;
        padding: 64px 20vh;
    }
}

@media screen and (max-width: 1024px) { 
    .app-content {
        .app-header {
            .app-menu-container {
                display: none;
            }
        }

        .app-content-pages {
            padding: 64px 24px;
        }
    }
}

@media screen and (max-width: 850px) { 
    .app-content {
        .app-header {
            .app-menu-container {
                display: none;
            }
        }
        
        .app-content-pages {
            padding: 64px 24px;
        }
    }
}