<div class="app-content">
    <div class="app-header">
        <div class="app-header-content">
            <div class="gugi-regular app-logo" (click)="navigateHome()">&lt;DF /&gt;</div>
            <div class="spacer"></div>
            <nav class="top-menu">
                <div id="about-menu-item" class="menu-item active" (click)="scrollToPosition(0)">About me</div>
                <div id="skills-menu-item" class="menu-item" (click)="scrollToComponent('skills-component')">Skills</div>
                <div id="projects-menu-item" class="menu-item" (click)="scrollToComponent('projects-component')">Projects</div>
                <div id="experience-menu-item" class="menu-item" (click)="scrollToComponent('experience-component')">Work</div>
                <div class="active-bg"></div>
            </nav>
            <div class="mobile-menu-icon" (click)="toggleMobileMenuVisibility()">
                <i class="bi bi-list"></i>
            </div>
        </div>
    </div>
    <nav id="mobile-menu" class="mobile-menu" [@slideInOut]="isMobileMenuVisible ? 'in' : 'out'">
        <!-- TODO: Make and active styling and make it change on scroll -->
        <div class="menu-item active" (click)="scrollToPosition(0)">About me</div>
        <div class="menu-item" (click)="scrollToComponent('skills-component')">Skills</div>
        <div class="menu-item" (click)="scrollToComponent('projects-component')">Projects</div>
        <div class="menu-item" (click)="scrollToComponent('experience-component')">Work</div>
    </nav>
    <div class="app-content-spacer"></div>
    <div class="app-content-pages" (click)="closeMobileMenu()">
        <app-about id="about-component" />
        <app-skills id="skills-component" />
        <app-projects id="projects-component" />
        <app-experience id="experience-component" />
        <!-- Free SVG Background by <a target="_blank" href="https://bgjar.com">BGJar</a> -->
    </div>
</div>
