.about-content {
    display: flex;
    flex-direction: column;
}

.body {
    margin-top: 14px;
    font-size: 14pt;
}

.education {
    margin-top: 24px;
    margin-bottom: 8px;
}

mat-card {
    margin: 12px 0;
}