<div class="about-content">
    <div class="about-title section-title">
        <span class="section-title-slashes">//</span> Allow me to introduce <span style="white-space: nowrap;">myself . . .</span>
    </div>
    <div class="avatar-intro-section">
        <div>
            <img src="assets/avatar.webp" class="avatar-icon" />
        </div>
        <div class="intro-content">
            <div class="intro-text">
                <h2>My name is <span>Daniel Fausz</span></h2>
                <p>I'm a creative developer based in north Alabama.</p>
                <p>I sincerely love what I do, and what I do is full stack, mobile, and/or front-end software development.</p>
                <p>If you have a question or would like to see if I would be a good fit for your team, please feel free to reach out. You can find my socials and contact info below.</p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/daniel-fausz" mat-icon-button aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/dfausz" mat-icon-button aria-label="GitHub" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                </a>
                <a href="mailto:dbfausz@gmail.com" mat-icon-button aria-label="E-mail" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                <a href="https://resume-site-fe19c.web.app/DanielFausz_Resume.docx" mat-icon-button aria-label="Resume" download>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>