.about-content {

    .avatar-intro-section {
        display: flex;
        padding: 0 10%;

        .avatar-icon {
            height: 20rem;
            margin-right: 3rem;
        }

        .intro-content {
            .intro-text {
                font-size: 1.25rem;

                h2 {
                    margin-top: 0;
                }

                span {
                    color: #9DC0BC;
                }
            }

            .social-icons {
                margin-left: -12px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-content {
        padding: 0;

        .avatar-intro-section {
            flex-direction: column;
    
            .intro-content {
                .intro-text {
                    h2 {
                        margin-top: 0.83em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    .about-content {
        width: 100%;
    }
}