<div class="about-content">
    <div class="title">What I'm about</div>
    <div class="body"> Software developer with a passion for learning. I enjoy full stack development and have a love for front-end work. I am primarily interested in working on highly interactive applications, such as web and mobile. Above all, I desire to solve problems and make a positive impact on any code base I have the opportunity to work with.</div>
    <div class="title education">Education</div>
    <mat-card>
        <div class="title">BS Computer Science</div>
        <div>2015</div>
        <div>University of Alabama, Huntsville</div>
    </mat-card>
    <mat-card>
        <div class="title">MS Software Engineering</div>
        <div>2018</div>
        <div>University of Alabama, Huntsville</div>
    </mat-card>
</div>