.exp-content {
    
    .exp-group-container {
        display: flex;
        margin-bottom: 3rem;

        &:nth-child(odd) {
            flex-direction: row-reverse;

            .exp-group-info { 
                align-items: flex-start;
                margin-right: 0;
                margin-left: 2rem;
            }
        }
        
        .exp-group-info {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-right: 2rem;
            flex: 1;

            mat-chip {
                margin: 3px;
            }

            a {
                margin-top: 8px;
            }
            
            .product-header {
                font-size: 2.75rem;
                margin-bottom: 12px;
                border-bottom: #9DC0BC solid 1px;
            }
            
            .product-description {
                margin-top: 24px;
                margin-bottom: 12px;

                p {
                    margin: 0;
                    margin-bottom: 12px;
                    font-size: 1.2rem;
                    font-weight: 300;

                    .product-desc-section-title {
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    .product-desc-subtitle {
                        opacity: 0.7;
                        font-style: italic;
                    }
                }
            }
        }
        
        .exp-images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #9DC0BC;
            // border-radius: 12px;
            padding: 24px 24px 12px 24px;

            .wide-image {
                width: 40vw;
                margin-bottom: 12px;
            }

            .tall-image {
                max-width: 100%;
                min-width: 0;
                height: auto;
            }
 
        }
    }
}

@media screen and (max-width: 768px) { 
    .exp-content {
        
        .exp-group-container {
            flex-direction: column;

            &:nth-child(odd) {
                flex-direction: column;

                .exp-group-info {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .exp-group-info {
                align-items: flex-start;
                margin-right: 0;
                margin-left: 0;
            }

            .exp-images {
                margin-top: 1.5rem;
    
                .wide-image {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    .exp-content {

        .exp-group-container {

            .exp-group-info {

                .product-header {
                    font-size: 2.2rem;
                }
            }
        }
    }
}