.exp-content {
    
    .exp-group-container {
        display: flex;
        margin-bottom: 3rem;

        &:nth-child(odd) {
            flex-direction: row-reverse;

            .exp-group-info { 
                align-items: flex-start;
                text-align: start;
                margin-right: 0;
                margin-left: 2rem;
            }
        }
        
        .exp-group-info {
            display: flex;
            align-items: flex-end;
            text-align: end;
            flex-direction: column;
            margin-right: 2rem;
            flex: 1;

            mat-chip {
                margin: 3px;
            }

            a {
                margin-top: 8px;
            }
            
            .product-header {
                font-size: 2.75rem;
                margin-bottom: 12px;
                border-bottom: #9DC0BC solid 1px;
            }
            
            .product-description {
                margin-top: 24px;
                margin-bottom: 12px;

                p {
                    margin: 0;
                    margin-bottom: 12px;
                    font-size: 1.2rem;
                }
            }
        }
        
        .exp-images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #9DC0BC;
            // border-radius: 12px;
            padding: 24px 24px 12px 24px;

            .med-image {
                width: 40vw;
                margin-bottom: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    .exp-content {
        
        .exp-group-container {
            flex-direction: column;

            &:nth-child(odd) {
                flex-direction: column;

                .exp-group-info {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .exp-group-info {
                align-items: flex-start;
                text-align: start;
                margin-right: 0;
                margin-left: 0;
            }

            .exp-images {
                margin-top: 1.5rem;
    
                .med-image {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) { 
    .exp-content {

        .exp-group-container {

            .exp-group-info {

                .product-header {
                    font-size: 2.2rem;
                }
            }
        }
    }
}