<div class="experience-content">
    <mat-card>
        <div class="title">PRADCO (October 2021 - Present)</div>
        <div class="subtitle">Senior Mobile Software Developer</div>
        <div class="body">
            <ul>
                <li>Cross-platform with Xamarin Forms, works with Android and iOS.</li>
                <li>Works in a fast-paced, customer-focused environment.</li>
                <li>Frequent updates to the App Store and Google Play.</li>
                <li>Features and improvements to the app are immediately seen and experienced by a large customer base of individual consumers.</li>
                <li>Works closely with product owners and UX designers to actualize detailed mock-ups into rich, intuitive UI.</li>
                <li>Takes on leadership roles and acts as a mentor for more junior developers.</li>
                <li>On rotation to monitor production services and respond quickly to warnings.</li>
            </ul>
        </div>
    </mat-card>
    <mat-card>
        <div class="title">Hexagon PPM (2017 - 2021)</div>
        <div class="subtitle">Principal Software Developer</div>
        <div class="body">
            <ul>
                <li>Cross-platform mobile development with Xamarin Forms, with the ability to work with Android, iOS, and UWP.</li>
                <li>Web development using Angular.</li>
                <li>Develops web services for the mobile application to consume.</li>
                <li>Creates unit and integration tests to cover both client and server.</li>
                <li>Implements a high level of problem solving.</li>
                <li>Adds new features and maintains a legacy code base.</li>
                <li>Serves as Scrum Master, involving scheduling and facilitating meetings, tracking sprint progress, working with management and product owners to keep team members unblocked.</li>
            </ul>
        </div>
    </mat-card>
    <mat-card>
        <div class="title">Hexagon PPM (2016 - 2017)</div>
        <div class="subtitle">Software Analyst</div>
        <div class="body">
            <ul>
                <li>Maintains the building and testing processes for a large software application.</li>
                <li>Contributes to the development and maintenance of DevOp tools.</li>
                <li>Communicates across several software teams to resolve errors and other issues that would hinder the operation of the build pipeline.</li>
                <li>Heavy focus on continued innovation to improve the automation framework.</li>
                <li>Self-motivated and learns other processes handled by the team for more complete knowledge of the entire system and to provide redundancy.</li>
                <li>Maintains high level of independence, self-motivation, and organization, to keep track of, and complete necessary tasks.</li>
            </ul>
        </div>
    </mat-card>
    <mat-card>
        <div class="title">Mentor Graphics (May - August 2015)</div>
        <div class="subtitle">Software Development Intern</div>
        <div class="body">
            <ul>
                <li>Develops tools for the deployment, monitoring, and diagnostics of web servers.</li>
                <li>Works as a member of an Agile team.</li>
                <li>Attends daily stand-up meetings and participates in software demonstrations at the end of the sprint cycle.</li>
                <li>Develops within the full stack, completes tasks that may involve adding or modifying User Interface code as well as adding or modifying Back-end services.</li>
                <li>Learns and implements design guidance from mentors.</li>
            </ul>
        </div>
    </mat-card>
</div>