<div class="exp-content">
    <div class="exp-section-title section-title">
        <span class="section-title-slashes">//</span> Experience
    </div>
    <div class="exp-group-container">
        <div class="exp-group-info">
            <div class="product-header">Moultrie Mobile</div>
            <div class="skill-chip-set">
                <mat-chip>Xamarin</mat-chip>
                <mat-chip>MAUI</mat-chip>
                <mat-chip>.NET</mat-chip>
                <mat-chip>C#</mat-chip>
                <mat-chip>LINQ</mat-chip>
                <mat-chip>Android</mat-chip>
                <mat-chip>iOS</mat-chip>
                <mat-chip>Mobile</mat-chip>
                <mat-chip>REST</mat-chip>
                <mat-chip>JSON</mat-chip>
            </div>
            <div class="product-description">
                <p>A Xamarin/MAUI mobile app, available in Google Play and the App Store. Receive and share images taken by your Moultrie Mobile camera, as well as a growing number of other features.</p>
                <p>I was a part of adding weather and LTE to the app, and I was part of converting the entire app from Xamarin to MAUI as well as a full UI refactor of the Image Gallery.</p>
            </div>
            <a mat-flat-button href="https://www.moultrieproducts.com/the-app" target="_blank">Find out more</a>
        </div>
        <div class="exp-images">
            <div class="wide-image" style="display:flex;flex-direction:row;justify-content:center;">
                <img class="tall-image" src="assets/maps_moultrie.webp" alt="Moultrie mobile fact sheet">
                <img class="tall-image" src="assets/gameplan_moultrie.webp" alt="Moultrie mobile fact sheet">
            </div>
        </div>
    </div>
    <div class="exp-group-container">
        <div class="exp-group-info">
            <div class="product-header">HxGN SDx</div>
            <div class="skill-chip-set">
                <mat-chip>Angular</mat-chip>
                <mat-chip>HTML</mat-chip>
                <mat-chip>CSS</mat-chip>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>TypeScript</mat-chip>
            </div>
            <div class="product-description">
                <p>A cloud-based software as a service application built on top of the enterprise infrastructural solution, Smart Plant Foundation.</p>
                <p>I was part of a team that built an Angular application from the ground up to fit into SDx as a standalone component.</p>
            </div>
            <a mat-flat-button href="https://hexagon.com/products/hxgn-sdx" target="_blank">Find out more</a>
        </div>
        <div class="exp-images">
            <img class="wide-image" src="https://i.ytimg.com/vi/f2OjgRYe3vg/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB2e2ot2ko4EAOcrExJ-FK4eZJcnA" alt="SDx Home">
            <img class="wide-image" src="https://play.vidyard.com/DvS1jyimoFzQUBtSfttgBJ.jpg" alt="SDx Graph">
        </div>
    </div>
    <div class="exp-group-container">
        <div class="exp-group-info">
            <div class="product-header">Intergraph Smart® Construction OnSite</div>
            <div class="skill-chip-set">
                <mat-chip>Xamarin</mat-chip>
                <mat-chip>.NET</mat-chip>
                <mat-chip>C#</mat-chip>
                <mat-chip>LINQ</mat-chip>
                <mat-chip>Android</mat-chip>
                <mat-chip>iOS</mat-chip>
                <mat-chip>Mobile</mat-chip>
                <mat-chip>SQLite</mat-chip>
                <mat-chip>REST</mat-chip>
                <mat-chip>JSON</mat-chip>
                <mat-chip>ASP.NET</mat-chip>
            </div>
            <div class="product-description">
                <p>A companion app to Intergraph Smart® Construction that would allow the user to download their work packages and then go into the field and mark off progress remotely.</p>
                <p>I worked on OnSite through the upgrade of Xamarin version 1 to version 5, an entire UI refactor that was prompted by a large number of domain logic changes. I was also part of adding unit tests and integration tests to the app and bolstering the test suite.</p>
            </div>
            <a mat-flat-button href="https://hexagon.com/products/intergraph-smart-construction" target="_blank">Find out more</a>
            <a mat-flat-button href="https://www.youtube.com/watch?v=xe4cBv1uzK0" target="_blank">See it in action</a>
        </div>  
        <div class="exp-images">
            <img class="wide-image" src="/assets/onsite.JPG" alt="SPC OnSite">
        </div>
    </div>
    <div class="exp-group-container">
        <div class="exp-group-info">
            <div class="product-header">Intergraph Smart® Construction</div>
            <div class="skill-chip-set">
                <mat-chip>VB.NET</mat-chip>
                <mat-chip>WPF</mat-chip>
                <mat-chip>.NET</mat-chip>
                <mat-chip>ASP.NET</mat-chip>
                <mat-chip>REST</mat-chip>
                <mat-chip>JSON</mat-chip>
            </div>
            <div class="product-description">
                <p>A WPF desktop application used as part of the Smart Plant suite of applications. SPC is used for planning and tracking progress of giant scale construction projects.</p>
                <p>I worked on the SPC team for a brief period. I was involved in critical maintence as well as adding a few features that involved the full stack.</p>
            </div>
            <a mat-flat-button href="https://hexagon.com/products/intergraph-smart-construction" target="_blank">Find out more</a>
        </div>
        <div class="exp-images">
            <img class="wide-image" src="https://i.ytimg.com/vi/CgRlMjiacF8/maxresdefault.jpg" alt="SPC Home">
            <img class="wide-image" src="https://img.archiexpo.com/images_ae/photo-g/103536-7393015.jpg" alt="SPC IWP">
        </div>
    </div>
</div>