<div class="projects-content" id="projects-section">
    <div class="projects-title section-title">
        <span class="section-title-slashes">//</span> Projects
    </div>
    <div class="carousel-group">
      <div class="nav-btn-container">
        <button mat-icon-button class="nav-btn prev" (click)="prev()" [disabled]="currentIndex === 0">‹</button>
      </div>
      <div class="carousel-container" #carouselContainer>
        <div class="carousel-track" 
            [style.transform]="'translateX(' + translateX + 'px)'"
            [style.transition]="isTransitioning ? 'transform 0.3s ease' : 'none'">
          @for (project of projects; track $index) {
            <div class="carousel-item">
              <article class="project-card">
                  <div class="project-title">{{project.title}}</div>
                  <p class="tagline">{{project.tagline}}</p>
                  <p class="description">{{project.description}}</p>
                  <div class="project-screenshots">
                    @for (image of project.screenshots; track $index) {
                      <img class="project-screenshot" [src]="image" [alt]="image">
                    }
                  </div>
                  <ul class="bullets">
                      @for (bullet of project.bullets; track $index) {
                          <li>{{bullet}}</li>
                      }
                  </ul>
                  <a mat-flat-button [href]="project.link" target="_blank" rel="noopener">View source on GitHub</a>
                </article>
            </div>
          }
        </div>
      </div>
      <div class="nav-btn-container">
        <button mat-icon-button class="nav-btn next" (click)="next()" [disabled]="currentIndex >= projects.length - 1">›</button>
      </div>
    </div>
    <div class="bottom-nav-group">
      <button mat-icon-button class="mobile-button nav-btn prev" (click)="prev()" [disabled]="currentIndex === 0">‹</button>
      <div class="indicators">
          @for (project of projects; track $index) {
            <button class="indicator" 
            [class.active]="$index === currentIndex"
            (click)="goToSlide($index)">
          </button>
        }
      </div>
      <button mat-icon-button class="mobile-button nav-btn next" (click)="next()" [disabled]="currentIndex >= projects.length - 1">›</button>
    </div>
</div>