<div class="skills-content">
    <div id="skills-section" class="skills-title section-title">
        <span class="section-title-slashes">//</span> Skills
    </div>
    <div class="about-sections">
        <div class="about-section section-1">
            <div class="icon-rows">
                <div class="icon-row">
                    <img src="assets/skillIcons/c-sharp.svg" class="skill-icon" alt="C#" />
                    <img src="assets/skillIcons/xamarin.svg" class="skill-icon" alt="Xamarin" />
                    <img src="assets/skillIcons/dot-net.svg" class="skill-icon" alt=".NET" />
                </div>
                <div class="icon-row">
                    <img src="assets/skillIcons/android.svg" class="skill-icon" alt="Android" />
                    <img src="assets/skillIcons/apple.svg" class="skill-icon" alt="iOS" />
                </div>
            </div>
            <div class="blob-background">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path class="morph-path-mobile-1" fill="#F2F4F822" d="M40.2,-67.7C53,-62.1,64.9,-53.3,73.2,-41.4C81.4,-29.6,85.9,-14.8,84.8,-0.6C83.7,13.5,77,27.1,68.3,38.1C59.6,49.1,48.8,57.5,37.1,56.6C25.4,55.6,12.7,45.3,2.7,40.7C-7.4,36.1,-14.8,37.2,-27,38.5C-39.3,39.8,-56.5,41.2,-65.5,34.8C-74.4,28.4,-75.2,14.2,-71,2.4C-66.9,-9.4,-58,-18.9,-49.3,-25.7C-40.5,-32.5,-32,-36.6,-23.9,-44.8C-15.7,-53.1,-7.8,-65.4,2.9,-70.4C13.7,-75.4,27.3,-73.2,40.2,-67.7Z" transform="translate(100 100)" />
                </svg>
            </div>
            <div class="blob-background">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path class="morph-path-mobile-2" fill="#F2F4F822" d="M39.1,-63C49.1,-61.9,54.6,-48.3,63.2,-35.7C71.7,-23.1,83.3,-11.6,85.8,1.4C88.3,14.4,81.6,28.9,69.4,35.1C57.2,41.2,39.3,39.1,26.8,42.8C14.3,46.5,7.1,56,-3.8,62.6C-14.8,69.2,-29.6,73,-36.7,66.2C-43.8,59.4,-43.3,42,-43.2,29.2C-43.1,16.4,-43.4,8.2,-48,-2.7C-52.7,-13.6,-61.6,-27.2,-60.6,-38C-59.5,-48.8,-48.5,-56.8,-36.7,-56.9C-25,-57,-12.5,-49.2,1,-51C14.5,-52.7,29.1,-64.1,39.1,-63Z" transform="translate(100 100)" />
                </svg>
            </div>
        </div>
        <div class="about-section section-2">
            <div class="icon-rows">
                <div class="icon-row">
                    <img src="assets/skillIcons/angular.svg" class="skill-icon" alt="Angular" />
                    <img src="assets/skillIcons/react.svg" class="skill-icon" alt="React" />
                </div>
                <div class="icon-row">
                    <img src="assets/skillIcons/javascript.svg" class="skill-icon" alt="JavaScript" />
                    <img src="assets/skillIcons/html.svg" class="skill-icon" alt="HTML 5" />
                    <img src="assets/skillIcons/css.svg" class="skill-icon" alt="CSS" />
                </div>
            </div>
            <div class="blob-background">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path class="morph-path-web-1" fill="#F2F4F822" d="M31,-59.8C36.6,-50.4,35.2,-35,42.9,-24C50.6,-13,67.4,-6.5,75.6,4.8C83.9,16,83.7,32.1,71.9,36C60.1,39.9,36.8,31.7,22.9,36.2C9,40.8,4.5,58,-4.4,65.7C-13.3,73.3,-26.7,71.3,-35.8,64.1C-45,56.8,-49.9,44.2,-51.2,32.7C-52.4,21.1,-50,10.6,-50.8,-0.5C-51.6,-11.5,-55.8,-23.1,-50.9,-28.3C-46,-33.5,-32,-32.4,-22.1,-39.2C-12.1,-46,-6,-60.8,3.3,-66.5C12.7,-72.3,25.4,-69.1,31,-59.8Z" transform="translate(100 100)" />
                </svg>
            </div>
            <div class="blob-background">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path class="morph-path-web-2" fill="#F2F4F822" d="M28.4,-50.4C38,-43.7,47.7,-38.4,53.6,-30.2C59.5,-22.1,61.6,-11,65.6,2.3C69.7,15.7,75.6,31.4,72.3,44.1C69,56.8,56.5,66.4,42.9,67.3C29.3,68.2,14.6,60.4,1.3,58.2C-12.1,56,-24.3,59.5,-34.9,56.9C-45.5,54.3,-54.6,45.5,-59.6,35C-64.6,24.5,-65.4,12.3,-60.6,2.8C-55.8,-6.8,-45.5,-13.5,-40.4,-23.8C-35.3,-34.1,-35.5,-47.9,-29.6,-56.7C-23.8,-65.5,-11.9,-69.3,-1.2,-67.2C9.4,-65.1,18.9,-57,28.4,-50.4Z" transform="translate(100 100)" />
                </svg>
            </div>
        </div>
    </div>
</div>
