<div>
    <div id="skills-section" class="skills-title section-title">
        <span class="section-title-slashes">//</span> Skills
    </div>
    <div class="about-sections">
        <div class="about-section section-1">
            <div class="icon-rows">
                <div class="icon-row">
                    <img src="assets/skillIcons/c-sharp.svg" class="skill-icon" alt="C#" />
                    <img src="assets/skillIcons/xamarin.svg" class="skill-icon" alt="Xamarin" />
                    <img src="assets/skillIcons/dot-net.svg" class="skill-icon" alt=".NET" />
                </div>
                <div class="icon-row">
                    <img src="assets/skillIcons/android.svg" class="skill-icon" alt="Android" />
                    <img src="assets/skillIcons/apple.svg" class="skill-icon" alt="iOS" />
                </div>
            </div>
            <img src="assets/blob2.svg" class="blob-background" />
        </div>
        <div class="about-section section-2">
            <div class="icon-rows">
                <div class="icon-row">
                    <img src="assets/skillIcons/angular.svg" class="skill-icon" alt="Angular" />
                    <img src="assets/skillIcons/react.svg" class="skill-icon" alt="React" />
                </div>
                <div class="icon-row">
                    <img src="assets/skillIcons/javascript.svg" class="skill-icon" alt="JavaScript" />
                    <img src="assets/skillIcons/html.svg" class="skill-icon" alt="HTML 5" />
                    <img src="assets/skillIcons/css.svg" class="skill-icon" alt="CSS" />
                </div>
            </div>
            <img src="assets/blob1.svg" class="blob-background" />
        </div>
    </div>
</div>