<div class="skills-content">
    <div class="title">Languages and Scripting</div>
    <mat-chip-list>
        <mat-chip>C#</mat-chip>
        <mat-chip>.NET</mat-chip>
        <mat-chip>Javascript</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Java</mat-chip>
        <mat-chip>XML</mat-chip>
        <mat-chip>SQL</mat-chip>
        <mat-chip>JSON</mat-chip>
        <mat-chip>PowerShell</mat-chip>
    </mat-chip-list>
    <div class="title">Libraries and Frameworks</div>
    <mat-chip-list>
        <mat-chip>Xamarin</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>LINQ</mat-chip>
        <mat-chip>jQuery</mat-chip>
        <mat-chip>Underscore.js</mat-chip>
    </mat-chip-list>
    <div class="title">Processes and Databases</div>
    <mat-chip-list>
        <mat-chip>Git</mat-chip>
        <mat-chip>TFS</mat-chip>
        <mat-chip>SVN</mat-chip>
        <mat-chip>SQlite</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>PostgreSQL</mat-chip>
    </mat-chip-list>
</div>