<div class="footer-content">
    <a href="https://www.linkedin.com/in/daniel-fausz" mat-icon-button aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/dfausz" mat-icon-button aria-label="GitHub" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="mailto:dbfausz@gmail.com" mat-icon-button aria-label="E-mail" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope-fill"></i>
    </a>
    <a mat-icon-button (click)="openCreditsDialog()">
      <i class="bi bi-heart-fill"></i>
    </a>
</div>