/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 18pt;
    font-weight: 500;
    font-style: normal;
}

.gugi-regular {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

$md-steel-blue: (
    50 : #ebeef0,
    100 : #cdd5db,
    200 : #abbac3,
    300 : #899eaa,
    400 : #708998,
    500 : #577486,
    600 : #4f6c7e,
    700 : #466173,
    800 : #3c5769,
    900 : #2c4456,
    A100 : #a1d6ff,
    A200 : #6ebfff,
    A400 : #3ba9ff,
    A700 : #219eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

mat-chip.mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #3c5769;
}

// @include mat.core();

$my-primary: mat.define-palette($md-steel-blue, 500, 200, 900);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warning-palette: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $warning-palette
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);
