/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "./test-theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "blobs.scss";

/* SCSS RGB */
$eerie-black: rgba(26, 26, 26, 1);
$ash-gray: rgba(157, 192, 188, 1);
$coral: rgba(255, 126, 95, 1);
$sandy-brown: rgba(254, 180, 123, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-right: linear-gradient(90deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-bottom: linear-gradient(180deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-left: linear-gradient(270deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-top-right: linear-gradient(45deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-bottom-right: linear-gradient(135deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-top-left: linear-gradient(225deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-bottom-left: linear-gradient(315deg, #1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);
$gradient-radial: radial-gradient(#1a1a1aff, #9dc0bcff, #ff7e5fff, #feb47bff);

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #1a1a1a;
    scrollbar-color: #9DC0BC #1a1a1a;
}

.title {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 18pt;
    font-weight: 500;
    font-style: normal;
}

.section-title {
    font-size: 3rem;
    padding: 4rem 0;
    font-weight: 700;

    .section-title-slashes {
        color: #9DC0BC;
    }
}

@media screen and (max-width: 425px) {
    .section-title {
        font-size: 2.25rem;
    }
}

.gugi-regular {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gradient-text {
    background: linear-gradient(to right, #9DC0BC, #119822);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}