.home-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;

    .home-title {
        flex: 1;
        color: #dadada;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Roboto;
        font-size: 4rem;
        font-weight: 300;
    
        span {
            color: #9DC0BC
        }

        .dev-type-text {
            color: #9DC0BC
        }

        .title-second-line {
            display: flex;
            
            .dev-type-carousel {
                margin: 0 1rem;

                .icon {
                    margin: 0 -1.25rem;
                    font-size: 4.5rem;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 900px) { 
            .title-second-line {
                flex-direction: column;
            }
        }
    }

    .scroll-icon {
        color: #9DC0BC;
        font-size: 4.75rem;
        background-color: #ffffff11;
        border-radius: 1.25rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 525px) { 
    .home-component {
        .home-title {
            font-size: 3rem;

            .title-second-line {
                .dev-type-carousel {
                    .icon {
                        font-size: 3.75rem;
                    }
                }
            }
        }

        .scroll-icon {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 375px) { 
    .home-component {
        .home-title {
            font-size: 2.25rem;

            .title-second-line {
                .dev-type-carousel {
                    .icon {
                        font-size: 3.25rem;
                    }
                }
            }
        }

        .scroll-icon {
            font-size: 3rem;
            border-radius: 0.75rem;
        }
    }
}

