<div class="home-component">
    <!-- TODO: Add more effects here, make it impress -->
    <div class="home-title">
        <div>Hey! I'm <span>Daniel</span>.</div>
        <div class="title-second-line">
            <div>
                I'm a
            </div>
            <div class="dev-type-carousel">
                <span class="material-symbols-outlined icon" (click)="decrementDevType()">
                    chevron_left
                </span>
                <span class="dev-type-text">
                    {{ devTypes[devTypeIndex] }} 
                </span>
                <span class="material-symbols-outlined icon" (click)="incrementDevType()">
                    chevron_right
                </span>
            </div>
            <div>
                developer.
            </div>
        </div>
    </div>
    <div (click)="navigateToContent()">
        <span class="material-symbols-outlined scroll-icon">
            keyboard_double_arrow_down
        </span>
    </div>
</div>